extends layout

block content
  <center><h1 id="myHeader">About Page</h1></center>

  <center><table>
    <tr>
      <td><img src="../about/krittanat.jpg" style="width:250px;height:250px;" margin="right"></td>
      <td><img src="../about/jirawat.jpg" style="width:250px;height:250px;" margin="center"></td>
      <td><img src="../about/thanabordee.jpg" style="width:250px;height:250px;" margin="left"></td>
    </tr>

    <tr>
      <td><center>กฤตณัฐ   อนันต์ชัยลิขิต</center></td>
      <td><center>จิรวัฒน์   ยุกตวาทิน</center></td>
      <td><center>ธนบดี    เทพารักษ์</center></td>
    </tr>
  </table></center> 
